body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
}

.login-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the form items horizontally */
}

h2 {
  color: #333333;
}

label {
  margin-top: 10px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 8px;
  margin: 5px 0 15px 0;
  box-sizing: border-box;
}

button {
  background-color: #007bff;
  color: #ffffff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

a {
  display: block;
  text-align: center;
  margin-top: 20px;
  text-decoration: none;
  color: #333333;
  font-size: 14px;
}


.kanban-container {
  display: flex;
}

.column {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  margin: 10px;
}

.card {
  background-color: #fff;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ddd;
  cursor: grab;
}

form input {
  padding: 32px 32px 0;
}

form input {
  padding: 12px;
  margin-right: 12px;
  width: 225px;

  border-radius: 4px;
  border: none;

  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
  background: white;

  font-size: 14px;
  outline: none;
}

form button {
  padding: 12px 32px;

  border-radius: 4px;
  border: none;

  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
  background: #ffffff;
  color: black;

  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}

body {
  background-color: #f8f9fa; /* Light gray background */
}

.container {
  margin-top: 20px;
}

.table {
  margin-top: 20px;
}

.alert {
  margin-top: 20px;
}
